<parent></parent>
<app-switch></app-switch>
<attr-demo></attr-demo>

<h1>Routing Demo</h1>

<ul>
    <li><a routerLink="">Home</a></li>
    <li><a routerLink="message">Message</a></li>
    <li><a routerLink="photos">Photo</a></li>
    <li><a routerLink="student/list">student List</a></li>
    <li><a routerLink="student/add">student Add</a></li>
    <li><a routerLink="**">NotFound</a></li>
</ul>
<router-outlet></router-outlet>
<router-outlet></router-outlet>
<!-- <app-student-add></app-student-add> -->
<app-validForm></app-validForm>


