<h1>Child component</h1>
{{message}}

<input name="message" type="text" (keyup)="onClick()" [(ngModel)]="message"/>

Student Registration:-
====================================

<button class="btn btn-primary">asdfadsf</button>
<form #register="ngForm" (ngSubmit)="onSubmit(register.value)">
  <div class="form-group">
   <label for="name">Name</label>
   <input type="text" class="form-control" name="name" [ngModel]="name" required/>
  </div>
  <div class="form-group">
    <label for="Emal">Email</label>
    <input type="email" class="form-control" name="email" [ngModel]="email" required email/>
    <div *ngIf="register.control.controls.email && register.control.controls.email.touched && register.control.controls.email.invalid">Please enter valid email address</div>
   </div>
   <div class="form-group">
    <label for="Password">Password</label>
    <input type="password" class="form-control" name="password" minlength= "8" [ngModel]="password" required/>
   </div>
   <div class="form-group">
    <label for="Password">Confirm Password</label>
    <input type="password" class="form-control" name="cpassword" minlength= "8" [ngModel]="cpassword" required/>
   </div>
   
   <input type="submit" value="Submit" name="submit" [disabled]="isValid(register)"/>
</form>


<div>
  <table border ="1">
      <tr>
          <td>Id</td>
          <td>Name</td>
          <td>category</td>
          <td>writer</td>
      </tr>
      <tr *ngFor="let book of theallbks">
         <td>{{book.id}}</td>
         <td>{{book.name}}</td>
         <td>{{book.category}}</td>
         <td>{{book.writer}}</td>
      </tr>
  </table>
 </div>
 <br/>
 